.alert{
    width: 100%;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
}

.alert--success{
    background-color: #c1f6c2;
    border-radius: 5px;
}