.card_image{
    display: grid;
    place-items: center;
}
.card_image img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.padding_card{
    padding: 20px 20px;
    flex: 2.3;
}

.card {
    width: 100%;
    background-color: white;
    box-shadow:  7px 7px 14px #d0d1d5, 
             -7px -7px 14px #ffffff;
    display: flex;
    justify-content: space-between;
}

.card_image{
    flex: 0.2;
    position: relative;
    left: -50px;
}

.card_image.color{
    background-color: #f4f4fe;
    width: 0;
}

.color img{
    margin: 50px !important;
    margin-left: 0px !important;
}

.card__content{
    padding: 10px 30px;
}

.progress{
    flex: 2;
    padding: 20px 0;
}

.progress__head{
    color: #ccc;
    font-weight: bold;
    margin-bottom: 20px;
}

.progres__line{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: relative;
}

.line{
    width:30%;
    height:2px;
    display: block;
    background-color: #17c00b;
}

.card__info{
    flex: 1.2;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: #17c00b;
    border-radius: 50%;
}

.middle,.start{
    color: #ccc;
}

.center {
    position: absolute;
    left: 45%;
}

.progress__text{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.end{
    color: green;
}

.text{
    margin-left: -20px;
}

.card__info{
    margin-left: 10px;
    padding: 15px 10px;
}

.card_info_text{
    color: #ccc;
    font-weight: bold;
    margin: 10px 0;
}

.card_info_data{
    color: black;
    margin-left: 40px;
}


.card__data{
    padding: 50px 0;
    display: grid;
    place-items: center;
    background-color: #f4f4fe;
    flex: 0.5;
    margin-left: -40px;
}

.data {
    flex: 2;
}


.name{
    font-weight: bold;
    font-size: 20px;
    color: indigo;
}


.job , .where{
    font-size: 13px;
    color: #ccc;
}

.time{
    font-size: 13px;
    color: #ccc;
}

.text{
    padding: 10px 20px;
    font-weight: bold;
}

.image_data{
    color: #ccc;
    padding-top: 10px;
    font-size: 12px;
}

.data{
    padding: 20px 20px;
    position: relative;
}



.card_image.color {
    left: -40px !important;
}



.orange{
    color: #fb9502;
}

.gray {
    color: #ccc;
}

table {
    font-weight: bold;
}

table td{
    padding: 5px 0 !important;
}

.margin-table{
    padding-left: 10px !important;
}


.card__info{
    background-color: #ffffff;
    box-shadow: 2px 3px 10px;
    box-shadow:  15px 15px 40px #d4d4d4, 
             -15px -15px 40px #ffffff;
}




@media(max-width:1098px){
    .card_image.color{
        background-color: transparent;
        width: 0;
    }
    .progress{
        flex: 1 !important;
    }
    
    .card__data{
        flex: 1.9 !important;
    }

    .progress{
        font-size: 12px;
    }
    table{
        font-size: 12px;
    }
}


@media(max-width:825px){
    .card {
        display: flex;
        flex-direction: column;
    }
    .card_image{
        width: 100%;
        left: 0;
    }
    .card_image.color {
        left: 0 !important;
    }
    .card_image.color{
        background-color: #f4f4fe;
        width: 100%;
    }
    
    .color img{
        margin: 0 !important;
        margin-left: 0px !important;
    }
}