.nav{
    display: flex;
    align-items: center;
    border: 0.2px solid #ccc;
    background-color: #ffffff;
}

.nav__search{
    display: flex;
    flex: 1;
    padding: 15px 5px;
    box-sizing: border-box;
    border-left: 0.2px solid #ccc;
    border-right: 0.2px solid #ccc;
}

.nav__search p {
    font-size: 12px;
    color: rgb(194, 193, 193);
}

.nav__search p a{
    font-size: 12px;
    color: #8c51c7;
    text-decoration: none;
    font-weight: 600;
}

.nav__logo img{
    width: 50px;
}

.nav__logo {
    padding: 0 5px;
}

.nav__search{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__input__group button{
    background-color: transparent;
    border: 0;
}

.nav__input__group input{
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 5px;
}

.nav__input__group input::placeholder{
    color: #ccc;
    font-size: 15px;
}

.nav__input__group button i{
    font-size: 17px;
    padding: 0;
    box-sizing: border-box;
}

.nav__foto img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.nav__foto{
    padding: 5px 22px; 
    border-left: 0.2px solid #ccc;
}

.nav__notification{
    padding: 0 20px;
    height: 100%;
}

.nav__notification span i {
    font-size: 18px;
}

.nav__icon{
    position: relative;
}

.item{
    display: flex;
    align-items: center;
}

.responsive_nav{
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: 0.4s;
    padding: 0 20px;
}

.responsive_nav_search {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
}

@media(max-width:1198px){
    .nav__search {
        display: none;
    }
    .responsive_nav.active{
        padding: 20px 20px;
        height: max-content;
    }
    .nav{
        justify-content: space-between !important;
    }
    .hamburger{
        margin-right: 20px;
        cursor: pointer;
    }
    .item{
        display: flex;
        align-items: center;
    }
}

@media(min-width:1198px){
    .hamburger{
        display: none;
    }
    
}