.main__content{
    padding: 90px 110px;
    padding-right: 60px;
    height: max-content;
    background-color: #f5f6fa;
    position: absolute;
    z-index: -2;
    top: 0;
    width: 100%;
    padding-bottom: 0;
}

.go_back{
    color: rgb(185, 185, 185);
    text-decoration: none;
    font-size: 12px;
}

.header{
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.header__text{
    font-size: 18px;
    font-weight: bold;
}

.header__text span {
    font-weight: lighter;
}

.nav__search span{
    font-weight: bold;
}

.header__text a{
   color: #865a97;
   text-decoration: none;
   
}

.header__functions{
    display: flex;
    gap: 15px;
    align-items: center;
}

.header__selectbox label{
    font-size: 10px;
    color: gray;
    margin-right: 10px;
}

.header__selectbox select{
    padding: 5px;
    width: 150px;
    font-size: 13px;
    outline: none;
    border: 0.1px solid rgb(207, 207, 207) !important;
    font-size: 10px !important;
    color: gray;
}

.header__view a{
    padding: 5px;
}

.header__view a i{
    font-size: 20px;
    color: #5c35e5;
}

.content {
    padding-left: 40px;
    margin-top: 20px;
}

.contact_rate{
    padding: 50px 0;
    padding-bottom: 20px;
}

.contact_rate__head h1{
    font-size: 30px;
    color: rgb(167, 167, 167);
    font-style: italic;
    font-weight:500;
}

.bold {
    font-weight: bold;
}


@media(max-width:1098px){
    .content {
        padding-left: 0;
        margin-top: 20px;
    }
    .card__content{
        padding: 0;
    }
    .main__content{
        padding: 90px 90px;
        padding-right: 60px;
        height: max-content;
    }

    .header{
        flex-direction: column;
    }
    .header__view{
        flex-direction: row;
        display: flex;
    }

    
}



